{% extends "base.html" %}

{% block content %}
  <h1>
    Car list
    <a href="{% url 'taxi:car-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form class="form-inline justify-content-center">
        <div class="form-group mb-2">
                    {{ CarSearchForm }}
        </div>
        <button type="submit" class="btn btn-primary mb-2 ml-2">Search</button>
    </form>
  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
